<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원관리 페이지</title>
</head>

<style>
    .layout {
        width : 800px;
        margin: 40px auto 0;
    }

</style>


<body>

<div class="layout">
    <table style="text-align: center">
        <caption style="font-size: 25px">User Info</caption>
        <thead>
        <tr>
            <td>ID</td>
            <td>PassWord</td>
            <td>Name</td>
            <td>Sex</td>
            <td>Year</td>
            <td>Month</td>
            <td>Day</td>
            <td>email</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${list}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.password}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.sex}"></td>
            <td th:text="${user.year}"></td>
            <td th:text="${user.month}"></td>
            <td th:text="${user.day}"></td>
            <td th:text="${user.email}"></td>
            <td>
                <a th:href="@{/login/admin/userdelete(id=${user.id})}">삭제</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>