<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인 페이지</title>
</head>

<style>
    td{
        text-align :center;
    }
</style>

<style>
    .layout {
        width : 500px;
        margin: 40px auto 0;
    }

    .layout input{
        width : 100%;
        box-sizing: border-box;
    }
    .test{
        width : 100px;
        margin: auto;
    }
</style>

<body>
        <div style="width:500px;margin:auto;box-sizing: border-box">
        <table class="layout" border="1" cellspacing="0">
            <caption style="font-size:40px">로그인</caption>
            <tr>
                <th>id</th>
                <td>
                    <input type="text" name="id">
                </td>
            </tr>
            <tr>
                <th>Password</th>
                <td>
                    <input type="text" name="password">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <form action="/login/pro" method="post" >
                        <button type="submit">로그인</button>
                    </form>
                </td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2">
                    <form action="/signup" method="post">
                        <button type="submit">회원가입</button>
                    </form>
                </td>
            </tr>
        </table>



        </div>
</body>
</html>